@using Microsoft.AspNetCore.Identity

@inject UserManager<Guest> UserManager
@inject IMemberService Member



<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Green Door Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image: url(https://i.pinimg.com/736x/bd/0c/a7/bd0ca7165e9db6cf3fb141afd5397965--turquoise-door-purple-door.jpg)">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Green Door Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <ul class="nav nav-pills nav-stacked">

                            </ul>
                        </div>
                    </div>*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Menu</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Cinema" asp-action="Add">Add Movie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Cinema" asp-action="All">All Movies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Cinema" asp-action="AddActor">Add Actor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Cinema" asp-action="AddActorToMovie">Add Actor to Movie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Books" asp-action="Add">Add Book</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Books" asp-action="All">All Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Books" asp-action="AddAuthor">Add Author</a>
                                </li>
                            </ul>
                        </li>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                var userId = User.GetId();


                                if (User.Identity.IsAuthenticated && !Member.IsMember(userId))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Member" asp-action="BecomeMember">Become Member</a>
                                    </li>
                                }
                                else if (Member.IsMember(userId) && Member.MembershipExpiring(userId))
                                {
                                    <li class="nav-item">
                                        <p>Your membership is expiring.</p>
                                        <a class="nav-link text-danger" asp-controller="Member" asp-action="BecomeMember">Renew Membership</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="jumbotron">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted" style="background-color: lightgreen">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - GreenDoorProject
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>