@using Microsoft.AspNetCore.Identity
@using GreenDoorProject.Services.Patrons

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IPatronService Patron

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsPatron = Patron.IsPatron(userId);

        if (userIsPatron)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Patron" asp-page="Donate">My Donations</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Patron" asp-page="BecomePatron">Become Patron</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                <span class="glyphicon glyphicon-register"></span>Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <span class="glyphicon glyphicon-log-in"></span>Login
            </a>
        </li>
    }
</ul>
