@model MovieServiceModel

<div class="container">
    <div class="jumbotron">
        <div class="row col col-md-12 text-center">
            <h5>Are you sure you want to remove this movie from the database?</h5><br />
        </div>
        <div class="row col col-md-12">
            <a asp-controller="Cinema" asp-action="All" class="btn btn-primary">No</a>
            <a asp-controller="Cinema" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Yes</a>
        </div>
    </div>
</div>
