@using GreenDoorProject.Models.Member
@using GreenDoorProject.Services.Members
@using Microsoft.AspNetCore.Identity
@using System.Linq

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IMemberService Member

@model AddMemberFormModel
@{
    var userId = User.GetId();

    if (SignInManager.IsSignedIn(User))
    {
        if (Member.IsMember(userId))
        {
            <p class="text-center">You are already a member!</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home page</a>
        }
        else
        {
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <h2 class="heading-margin text-center">Choose your desired membership type:</h2>
                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="MembershipId"></label>
                                    <select asp-for="MembershipId" class="form-control">
                                        @foreach (var type in Model.MembershipTypes.OrderBy(m => m.Price))
                                        {
                                            <option value="@type.Id">@type.Name - $@type.Price</option>
                                        }
                                    </select>
                                    <span asp-validation-for="MembershipId" class="small text-danger"></span>                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

