@model ActorFormModel

@{
    ViewBag.Title = "Add Actor";
}

@{
    if (User.IsAdmin())
    {


        <div class="container">
            <div class="jumbotron">

                <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="Bruce, Brad, Ashton, Mila, etc... " />
                            <span asp-validation-for="FirstName" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Willis, Pitt, Kutcher, Kunis, etc..." />
                            <span asp-validation-for="LastName" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImagePath"></label>
                            <input asp-for="ImagePath" class="form-control" placeholder="URL to Image..." />
                            <span asp-validation-for="ImagePath" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="YearOfBirth"></label>
                            <input asp-for="YearOfBirth" class="form-control" />
                            <span asp-validation-for="YearOfBirth" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="YearOfDeath"></label>
                            <input asp-for="YearOfDeath" class="form-control" />
                            <span asp-validation-for="YearOfDeath" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Details"></label>
                            <textarea asp-for="Details" rows="4" class="form-control" placeholder="Add a description..."></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-black-50">
            <h5>Oops!</h5>
            <h5>You are not authorized to view the contents of this web page.</h5>
            <h5>Please contact us for more information.</h5>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Home Page</a>
        </div>
    }
}