@model BookContentsViewModel

<div class="jumbotron">
    <h2 class="text-center">@Model.Title</h2>
    <h5 class="text-center">by</h5>
    <h2 class="text-center">@Model.Author</h2>
    <p>@Model.Contents</p>
</div>