#sidebar {
    background: white;
    width: 30%;
    box-shadow: 2px 0 4px rgba(0,0,0,0.5);
}

    #sidebar.collapsed {
        width: 0;
    }

        #sidebar.collapsed + #content {
            width: 100%;
        }

#content {
    background: gray;
    width: 70%;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: black;
    margin: 20px;
    cursor: pointer;
}

h3 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
