@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Green Door Project! </h1>
    <h4>Here you can...</h4>
    <img class="border border-" src="~/bookShelf.jpg" width="500" height="200" alt="Photo of a bookshelf" />
    <img src="~/moviePoster.jpg" width="500" height="200" alt="Photo of movie posters" /> <br />
    <img src="~/musicInstruments1.jpg" width="500" height="200" alt="Photo of musical instruments" />
    <img src="~/boardGames.jpg" width="500" height="200" alt="Photo of a collection of board games" /> <br />
</div>
