@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Green Door Project! </h1>
    <p>The place you can find all the bestselling titles on the market, view the blockbusters of the century,
     or enjoy a game at our local</p>
</div>
