@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Green Door Project! </h1>
    <h4>Here you can...</h4>
    <img src="~/bookShelf.jpg" width="500" height="200" alt="Photo of a bookshelf" /> <br />
    <img src="~/moviePoster.jpg" width="500" height="200" alt="Photo of movie posters" /> <br />
    <img src="~/musicInstruments.jpg" width="500" height="200" alt="Photo of musical instruments" /> <br />
    <img src="~/boardGames.jpg" width="500" height="200" alt="Photo of a collection of board games" /> <br />
    <h4>
        view the blockbusters of the century
    </h4>
    <h4>find your muse in our rich music collection</h4>
    <h4>or enjoy your favourite game.</h4>
</div>
